In [3]:
import pandas as pd

In [6]:
churn = pd.read_csv('train.csv')
churn.head(10)

                                           msno  is_churn
0  waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=         1
1  QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=         1
2  fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=         1
3  mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=         1
4  XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=         1
5  GBy8qSz16X5iYWD+3CMxv/Hm6OPSrXBYtmbnlRtknW0=         1
6  lYLh7TdkWpIoQs3i3o6mIjLH8/IEgMWP9r7OpsLX0Vo=         1
7  T0FF6lumjKcqEO0O+tUH2ytc+Kb9EkeaLzcVUiTr1aE=         1
8  Nb1ZGEmagQeba5E+nQj8VlQoWl+8SFmLZu+Y8ytIamw=         1
9  MkuWz0Nq6/Oq5fKqRddWL7oh2SLUSRe3/g+XmAWqW1Q=         1

In [7]:
churn1 = churn.sort_values(['msno'],ascending= [False]).reset_index()
churn1.head(10)

    index                                          msno  is_churn
0   30423  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=         1
1   19995  zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=         1
2  888205  zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=         0
3  480976  zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=         0
4  320038  zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=         0
5  337812  zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=         0
6   53376  zzx7wcys2Nha6yP2Skjs+R1/JNAfEuAWUaAp0qsV2Cg=         1
7  872980  zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=         0
8  102852  zzx1qgX8R9EmT8PAn4/KyQ6s7PuLYTfR8kUCABiCW9E=         0
9  870369  zzwsW1MnZalh6V5BwYE+V6hFWyKJYOf+rFd+SWVXxp8=         0

In [8]:
churn2 = churn1[['msno', 'is_churn']]

In [9]:
churn_ones = churn2[churn2.is_churn == 1].reset_index()
churn_ones = churn_ones[['msno', 'is_churn']]

In [10]:
churn_ones = churn_ones.loc[0:1499]
churn.iloc[[1499]]

                                              msno  is_churn
1499  z8b0VhBdrYFd0e2yCZyhXvciYnLf3WUCFtI+/p5s3ps=         1

In [11]:
churn_zeros = churn2[churn2.is_churn == 0].reset_index()
churn_zeros = churn_zeros[['msno', 'is_churn']]

In [12]:
churn_zeros = churn_zeros.loc[0:1499]
churn_zeros.head(10)

                                           msno  is_churn
0  zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=         0
1  zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=         0
2  zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=         0
3  zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=         0
4  zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=         0
5  zzx1qgX8R9EmT8PAn4/KyQ6s7PuLYTfR8kUCABiCW9E=         0
6  zzwsW1MnZalh6V5BwYE+V6hFWyKJYOf+rFd+SWVXxp8=         0
7  zzwlIVmSuehTevzOi+WkcC7b3+MBYDiE4qybszTyhII=         0
8  zzwimfmJBJ4SrRw3bYXQzE9UrizlSE10yI7dHPvG5xM=         0
9  zzvhQSh5Xs6/9DO+wUTtEbSZRBHjGIpHMOP2kVMrXmk=         0

In [13]:
churn_zeros.iloc[[1499]]

                                              msno  is_churn
1499  ztKkAYwQCfLuGS33MZwpmXG0TUp8HRxkK871IxOoUaM=         0

# Таблица Мемберс и Трейн

In [14]:
members = pd.read_csv('members.csv')
members.head(10)

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,URiXrfYPzHAlk+7+n7BOMl9G+T7g8JmrSnT/BU8GmEo=,1,0,NaN,9,20150525,20150526
1,U1q0qCqK/lDMTD2kN8G9OXMtfuvLCey20OAIPOvXXGQ=,1,0,NaN,4,20161221,20161224
2,W6M2H2kAoN9ahfDYKo3J6tmsJRAeuFc9wl1cau5VL1Q=,1,0,NaN,4,20160306,20160309
3,1qE5+cN7CUyC+KFH6gBZzMWmM1QpIVW6A43BEm98I/w=,5,17,female,4,20161031,20161107
4,SeAnaZPI+tFdAt+r3lZt/B8PgTp7bcG/1os39u4pLxs=,1,0,NaN,4,20170202,20170205
5,iSJMDbqVrpRf7DRQoCINa6CzxpEIkHj91X5oqpReC3k=,1,0,NaN,4,20160215,20160218
6,NNYKvjuUcXHLi40gmdfpVfdlNOuRxQ1uGYVp45Ce/eY=,1,0,NaN,9,20150719,20150720
7,TA85iK5eP14OHddABVsSlwi4EKTe9sxMBp+9nWsdLq8=,1,40,male,3,20150606,20150615
8,75rp8sCaeatezkb6c0I133UakcSDuKcc5ia0b0Q+JS4=,1,24,male,3,20151129,20170925
9,1Nqjt8ykQceNOmuRrh9bcgvicDfLlj+jkgx7+Dd0Rk0=,1,0,NaN,7,20160410,20170909

In [15]:
members = members.sort_values(['msno'],ascending= False).reset_index()

In [16]:
members = members.drop('index',axis=1)

In [17]:
members.index[members.msno=='ztKkAYwQCfLuGS33MZwpmXG0TUp8HRxkK871IxOoUaM='][0]

8271

In [18]:
members.index[members.msno=='zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=']

Int64Index([47], dtype='int64')

In [19]:
members[members.msno=='ySwrLh1f7ifxL9KJjlSNk6fQ8RWebZirK9DHwgCVvGw=']

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
121069,ySwrLh1f7ifxL9KJjlSNk6fQ8RWebZirK9DHwgCVvGw=,12,25,female,9,20100804,20170205

In [20]:
members[members.msno=='y9HCJ3cXWVi042BpzlL0zaJFqm5OwWAguVWxDPrWiYQ=']

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
145661,y9HCJ3cXWVi042BpzlL0zaJFqm5OwWAguVWxDPrWiYQ=,1,0,NaN,7,20140104,20170923

In [21]:
members_check = members.iloc[0:8272]
members_check.iloc[8271]

msno                      ztKkAYwQCfLuGS33MZwpmXG0TUp8HRxkK871IxOoUaM=
city                                                                13
bd                                                                  18
gender                                                            male
registered_via                                                       3
registration_init_time                                        20151029
expiration_date                                               20170907
Name: 8271, dtype: object

In [22]:
churn_zeros_check = churn_zeros.iloc[0:3]

In [23]:
churn_all = churn_zeros.append(churn_ones)
churn_all.iloc[1500]

msno        zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=
is_churn                                               1
Name: 0, dtype: object

In [24]:
churn_all.to_csv("churn_all.csv",index=False)

In [25]:
churn_members_zero = pd.merge(left = churn_zeros,right = members_check,how = 'left',on=['msno'])

In [26]:
members_check = members.iloc[0:121070]
members_check.iloc[121069]

msno                      ySwrLh1f7ifxL9KJjlSNk6fQ8RWebZirK9DHwgCVvGw=
city                                                                12
bd                                                                  25
gender                                                          female
registered_via                                                       9
registration_init_time                                        20100804
expiration_date                                               20170205
Name: 121069, dtype: object

In [27]:
churn_members_all = pd.merge(left = churn_all,right = members_check,how = 'left',on=['msno'])

### Вот она

In [28]:
churn_members_all.head()

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,expiration_date
0,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,0,4.0,48.0,female,9.0,20140611.0,20170924.0
1,zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=,0,NaN,NaN,NaN,NaN,NaN,NaN
2,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,0,4.0,24.0,male,7.0,20120306.0,20170930.0
3,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,0,22.0,27.0,female,9.0,20070810.0,20171010.0
4,zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=,0,1.0,0.0,NaN,7.0,20110823.0,20170919.0

In [29]:
churn_members_all.to_csv('churn_members_all.csv', index=False)

# Таблица Транзакции

In [30]:
transactions = pd.read_csv('transactions2.csv')
transactions.head(10)

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,zZZZfd3Qx+k7ArK539JBMYbvQe2PH1ZBUOwQ0moQLMQ=,35,7,0,0,0,20150614,20150615,0
1,zZZyQL3tSAMRrBkh9UnGPfJOweR7RG6HNmitaxytxF4=,41,30,149,149,1,20170228,20170331,0
2,zZZyQL3tSAMRrBkh9UnGPfJOweR7RG6HNmitaxytxF4=,41,30,149,149,1,20161231,20170131,0
3,zZzyke0gnsUO8aW+HamXQu89ceD+cN8ZPvwbGq2VDZQ=,35,7,0,0,0,20161028,20161104,0
4,ZzZy7KsaHCX2bg/V+vpXGnaX3TD5wSMHmCu2ofc9KQk=,41,30,149,149,1,20150731,20150831,0
5,ZzZUBNTfeYQ9AN4uSgmNNdeq96PyMN/n2RejpvvLb/o=,39,30,149,149,1,20151202,20160107,0
6,ZzZUBNTfeYQ9AN4uSgmNNdeq96PyMN/n2RejpvvLb/o=,39,30,149,149,1,20151102,20151207,0
7,ZzZUBNTfeYQ9AN4uSgmNNdeq96PyMN/n2RejpvvLb/o=,39,0,0,149,1,20150430,20150607,0
8,ZZZRvYZ7Izi/gzjzHrU9M0NWF8C2orFQjEQ4xnd2jMw=,38,30,149,149,0,20170215,20170317,0
9,ZzZQqFJCdGK1z/56Rrx89cgYBDTZkvS/uH5n+BR+ZqA=,41,30,129,129,1,20161119,20161220,0

In [33]:
transactions = transactions.sort_values(['msno'],ascending= False).reset_index()
transactions = transactions.drop('index',axis=1)

In [34]:
transactions.index[transactions.msno == 'ySwrLh1f7ifxL9KJjlSNk6fQ8RWebZirK9DHwgCVvGw=']

Int64Index([42234, 42235], dtype='int64')

In [36]:
transactions[transactions.msno == 'zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=']

Empty DataFrame
Columns: [msno, payment_method_id, payment_plan_days, plan_list_price, actual_amount_paid, is_auto_renew, transaction_date, membership_expire_date, is_cancel]
Index: []

In [37]:
transactions = transactions.iloc[0:42236]

In [38]:
transactions.iloc[42235]

msno                      ySwrLh1f7ifxL9KJjlSNk6fQ8RWebZirK9DHwgCVvGw=
payment_method_id                                                   35
payment_plan_days                                                    7
plan_list_price                                                      0
actual_amount_paid                                                   0
is_auto_renew                                                        0
transaction_date                                              20160714
membership_expire_date                                        20170205
is_cancel                                                            0
Name: 42235, dtype: object

In [39]:
msno_all = churn_members_all.msno.values

In [40]:
msno_all.shape

(3000,)

In [41]:
transactions_all = transactions[transactions['msno'].isin(msno_all)].reset_index()

In [42]:
transactions_all = transactions_all.drop('index',axis=1)

In [43]:
transactions_all.shape

(3798, 9)

In [44]:
transactions_all.to_csv('transactions_all.csv', index=False)

In [45]:
df = pd.read_csv('transactions_all.csv')

## Вот она

In [46]:
df.head(10)

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161104,20161204,0
1,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161104,20161204,0
2,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,41,30,99,99,1,20161226,20170126,0
3,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,41,30,99,99,1,20161226,20170126,0
4,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,41,30,99,99,1,20160127,20160226,0
5,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,41,30,99,99,1,20160127,20160226,0
6,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,41,30,149,149,1,20150610,20150710,0
7,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,41,30,149,149,1,20150610,20150710,0
8,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,39,30,149,149,1,20161130,20170110,0
9,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,39,0,0,149,1,20150430,20150610,0

# Таблица Юзер Логс

In [47]:
user_logs = pd.read_csv('user_logs2.csv')
user_logs.head(10)

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,zZZvjmfSMVyV5Ub7KSgdoRsVe7+FFPE89fu7aX8PD9w=,20161130,0,0,0,1,26,18,15771.983
1,zZZvjmfSMVyV5Ub7KSgdoRsVe7+FFPE89fu7aX8PD9w=,20160513,0,0,0,0,19,19,2919.419
2,zZZvjmfSMVyV5Ub7KSgdoRsVe7+FFPE89fu7aX8PD9w=,20160303,2,0,0,0,6,7,1578.826
3,zzztPAN9xjMytpZ0RN2gU9mScDULJnHQZK8eZb4uELU=,20150110,3,1,1,1,0,4,509.706
4,zZzSpknbJXyB9Wjq8wjHlLKWOqJ4ruMCar5AyRGWpWY=,20151222,2,0,0,1,6,9,1639.956
5,zzZSGQGyOVcgufZ5Z/xCOzZEzt82qENZbq9YpvjoGao=,20160226,14,4,0,0,7,18,2454.836
6,zzZSGQGyOVcgufZ5Z/xCOzZEzt82qENZbq9YpvjoGao=,20150507,3,0,1,0,2,6,735.123
7,Zzz8TieaQy8rWjNL8sywJvVreOi0asURUBzH7fV1Sgw=,20170215,7,0,3,2,14,17,4821.257
8,Zzz8TieaQy8rWjNL8sywJvVreOi0asURUBzH7fV1Sgw=,20161226,14,6,1,2,4,25,2190.103
9,Zzz8TieaQy8rWjNL8sywJvVreOi0asURUBzH7fV1Sgw=,20161105,8,2,1,2,86,38,20452.908

In [48]:
user_logs.shape

(42379, 9)

In [49]:
user_logs = user_logs.sort_values(['msno'],ascending= False).reset_index()
user_logs = user_logs.drop('index',axis=1)

In [50]:
user_logs.iloc[42378]

msno          YQ9M2WhPZUqm7jx38MCiKqvDRSg8D3oWZYPe1JrO7AM=
date                                              20160913
num_25                                                  26
num_50                                                  11
num_75                                                   1
num_985                                                  3
num_100                                                 97
num_unq                                                 53
total_secs                                         30835.6
Name: 42378, dtype: object

In [51]:
user_logs_all = user_logs[user_logs['msno'].isin(msno_all)].reset_index()

user_logs_all = user_logs_all.drop('index',axis=1)

In [52]:
user_logs_all.head(10)

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,20161115,8,4,0,1,11,18,4574.660
1,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,20160714,4,1,2,1,8,16,2125.260
2,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,20151219,32,2,2,0,7,41,2528.733
3,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,20150526,1,2,1,0,4,8,1227.964
4,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,20150525,1,0,0,0,9,10,2514.730
5,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,20161114,2,2,0,0,0,4,241.514
6,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,20150312,1,0,0,1,1,3,518.781
7,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,20160308,2,0,1,2,19,16,5675.657
8,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,20150924,2,1,3,4,80,89,21709.139
9,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,20160630,0,0,0,1,67,22,15516.235

In [53]:
churn_members_all[churn_members_all.msno =='zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=']

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,expiration_date
1501,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,1.0,0.0,NaN,7.0,20120416.0,20170123.0

In [54]:
user_logs_all[user_logs_all.msno =='zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=']

Empty DataFrame
Columns: [msno, date, num_25, num_50, num_75, num_985, num_100, num_unq, total_secs]
Index: []

In [119]:
user_logs_all.shape

(1922, 9)

In [120]:
user_logs_all.to_csv('user_logs_all.csv', index=False)

In [121]:
df = pd.read_csv('user_logs_all.csv')
df.head(10)

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,20161115,8,4,0,1,11,18,4574.660
1,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,20160714,4,1,2,1,8,16,2125.260
2,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,20151219,32,2,2,0,7,41,2528.733
3,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,20150526,1,2,1,0,4,8,1227.964
4,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,20150525,1,0,0,0,9,10,2514.730
5,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,20161114,2,2,0,0,0,4,241.514
6,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,20150312,1,0,0,1,1,3,518.781
7,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,20160308,2,0,1,2,19,16,5675.657
8,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,20150924,2,1,3,4,80,89,21709.139
9,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,20160630,0,0,0,1,67,22,15516.235