In [2]:
import pandas as pd
import numpy as np

In [202]:
members = pd.read_csv('churn_members_all.csv')

In [3]:
members.head(10)

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,expiration_date
0,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,0,4.0,48.0,female,9.0,20140611.0,20170924.0
1,zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=,0,NaN,NaN,NaN,NaN,NaN,NaN
2,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,0,4.0,24.0,male,7.0,20120306.0,20170930.0
3,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,0,22.0,27.0,female,9.0,20070810.0,20171010.0
4,zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=,0,1.0,0.0,NaN,7.0,20110823.0,20170919.0
5,zzx1qgX8R9EmT8PAn4/KyQ6s7PuLYTfR8kUCABiCW9E=,0,6.0,31.0,male,9.0,20141014.0,20170930.0
6,zzwsW1MnZalh6V5BwYE+V6hFWyKJYOf+rFd+SWVXxp8=,0,1.0,0.0,NaN,7.0,20151006.0,20171006.0
7,zzwlIVmSuehTevzOi+WkcC7b3+MBYDiE4qybszTyhII=,0,13.0,25.0,male,4.0,20160416.0,20170918.0
8,zzwimfmJBJ4SrRw3bYXQzE9UrizlSE10yI7dHPvG5xM=,0,18.0,43.0,female,7.0,20161020.0,20170919.0
9,zzvhQSh5Xs6/9DO+wUTtEbSZRBHjGIpHMOP2kVMrXmk=,0,1.0,0.0,NaN,7.0,20160202.0,20171001.0

In [4]:
members.to_csv('members_nans.csv', index=False)

In [16]:
members.msno.isnull().sum()

0

In [17]:
members.city.isnull().sum()

351

In [18]:
members.bd.isnull().sum()

351

In [19]:
members.is_churn.isnull().sum()

0

In [20]:
members.gender.isnull().sum()

1612

In [21]:
members.registered_via.isnull().sum()

351

In [22]:
members.registration_init_time.isnull().sum()

351

In [23]:
members.expiration_date.isnull().sum()

351

In [95]:
members_try = members.iloc[0:10]

In [96]:
members_try

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,expiration_date
0,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,0,4.0,48.0,female,9.0,20140611.0,20170924.0
1,zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=,0,NaN,NaN,NaN,NaN,NaN,NaN
2,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,0,4.0,24.0,male,7.0,20120306.0,20170930.0
3,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,0,22.0,27.0,female,9.0,20070810.0,20171010.0
4,zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=,0,1.0,0.0,NaN,7.0,20110823.0,20170919.0
5,zzx1qgX8R9EmT8PAn4/KyQ6s7PuLYTfR8kUCABiCW9E=,0,6.0,31.0,male,9.0,20141014.0,20170930.0
6,zzwsW1MnZalh6V5BwYE+V6hFWyKJYOf+rFd+SWVXxp8=,0,1.0,0.0,NaN,7.0,20151006.0,20171006.0
7,zzwlIVmSuehTevzOi+WkcC7b3+MBYDiE4qybszTyhII=,0,13.0,25.0,male,4.0,20160416.0,20170918.0
8,zzwimfmJBJ4SrRw3bYXQzE9UrizlSE10yI7dHPvG5xM=,0,18.0,43.0,female,7.0,20161020.0,20170919.0
9,zzvhQSh5Xs6/9DO+wUTtEbSZRBHjGIpHMOP2kVMrXmk=,0,1.0,0.0,NaN,7.0,20160202.0,20171001.0

In [97]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()

In [108]:
members_linear = pd.get_dummies(members,columns=['city','gender','registered_via'])

In [109]:
members_linear

,msno,is_churn,bd,registration_init_time,expiration_date,city_1.0,city_3.0,city_4.0,city_5.0,city_6.0,...,city_20.0,city_21.0,city_22.0,gender_female,gender_male,registered_via_3.0,registered_via_4.0,registered_via_7.0,registered_via_9.0,registered_via_13.0
0,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,0,48.0,20140611.0,20170924.0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
1,zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,0,24.0,20120306.0,20170930.0,0,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0
3,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,0,27.0,20070810.0,20171010.0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
4,zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=,0,0.0,20110823.0,20170919.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,zzx1qgX8R9EmT8PAn4/KyQ6s7PuLYTfR8kUCABiCW9E=,0,31.0,20141014.0,20170930.0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
6,zzwsW1MnZalh6V5BwYE+V6hFWyKJYOf+rFd+SWVXxp8=,0,0.0,20151006.0,20171006.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7,zzwlIVmSuehTevzOi+WkcC7b3+MBYDiE4qybszTyhII=,0,25.0,20160416.0,20170918.0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
8,zzwimfmJBJ4SrRw3bYXQzE9UrizlSE10yI7dHPvG5xM=,0,43.0,20161020.0,20170919.0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
9,zzvhQSh5Xs6/9DO+wUTtEbSZRBHjGIpHMOP2kVMrXmk=,0,0.0,20160202.0,20171001.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10,zzvZ4AqXwz9Yh2nyExvdWL3YxRVvFLLotZaLXJL6Hik=,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,zzvB5JRK4WBwtKJoNtnNF34r5dUAuenPpR9xrxdfMSI=,0,0.0,20130805.0,20170722.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12,zzv2n8+r3LGI4gFp6c4hpseYdfHrl829IY3IlA0BF4Q=,0,0.0,20130412.0,20170930.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13,zzv/igs0VigNppe7WR8qgz1h6aXFFzQLu5paAswIbcQ=,0,33.0,20060721.0,20170930.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
14,zzuiTQN9MP4dT+mVTYuaFGeQwum5iIkUW56LyzPi4gA=,0,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,zzuGxQfF86Zsx5nqF1Yh+oJpEIfdjFKKYpTqFZMdxzk=,0,30.0,20051216.0,20170910.0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
16,zztg1DNR0a6n+9+CXd8WAfNZHsl5VvyYC2ngeXlwpkc=,0,18.0,20150831.0,20170315.0,0,0,0,0,0,...,0,0,1,0,1,1,0,0,0,0
17,zztRj67GpP0kdrpfKJ4X4bUrF+ljVCkR0K8cRDIbzRI=,0,0.0,20160825.0,20170930.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
18,zztGcSZznx0uMBvc0fTQVTfCzeS7Ho/otO2L/4FXs/w=,0,29.0,20070605.0,20170909.0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
19,zzt4LinfZVgufjQc8MVgTz9CwxB9pJtNJDnk3d3F7Ac=,0,20.0,20110318.0,20170916.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
20,zzsusjoGJ6jH+qVF5cMfJGphBO7MR4P4P1rD7qxITX0=,0,26.0,20120923.0,20170913.0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
21,zzsIerQnY70zKAgAD1GSB89LFnfIxXwXO+FBJEyMbDo=,0,0.0,20161022.0,20170921.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22,zzrd7DiMe4a9EIUBeIKSUxpblomhiBE3DvaC32fMl7o=,0,20.0,20160718.0,20170922.0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
23,zzqv/DjiJJFlfDEeaja2Cq7cvVWz++pwIaJ6SAM42sw=,0,0.0,20131227.0,20170930.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24,zzqhrI0gqPwQnjjWX4PC16TgaLSUwQaejWWeJjclfW8=,0,0.0,20130609.0,20171001.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
25,zzppRL+pLMgQctdB5f9etlPMPQfOBATIah7MyNfOUIs=,0,0.0,20121221.0,20170922.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
26,zzpTXKXmUXusfh8lgKDrPLEdQyNOvxl4a+PE0CwQIQU=,0,0.0,20131210.0,20170924.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,zzpF6hy2lJv8GjT/eZOGSCmg/kQ5FtuIuI+EUaAx7YU=,0,0.0,20130123.0,20170716.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
28,zzp++cVQOL+vApgAvHD7JtTt69oNArzMt0gWhVY7e1w=,0,0.0,20140311.0,20170910.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,zzompfSaMamqvjyCMYvgUBwYrxh8fHE40z3f73CQoak=,0,24.0,20130221.0,20170930.0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,yUPYACiyT1yKzBSNu/aJgI8TTMbcyrgR8Wy8ohLQBkE=,1,31.0,20140216.0,20170608.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2971,yUM88406jXZ3JPX1OJ//eb71IbqqSnq2uQML7udLqSM=,1,0.0,20121009.0,20170711.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2972,yULSyU1vCyi3WR1jsh2HOedHeUpRLcZVV416RcfeB94=,1,0.0,20130122.0,20170728.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2973,yUKpiPXkMMHljtVInu7wwMsNiwjadRRdCy7WUBj0NzA=,1,46.0,20130912.0,20180227.0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
2974,yUGule0UBq35ay4elfIosvn4kanjm1Z/mzj2uizUr6s=,1,24.0,20140505.0,20170922.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2975,yUDD0Q8Mbxn3+tHwKyWJ6TLkHxb+Ua0j7Wj4RP/y0g8=,1,42.0,20160131.0,20171113.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2976,yUCQdY2nlg6ZycCJr2imjoO74l/jDyCHAtvS2qXazug=,1,19.0,20150423.0,20170207.0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2977,yUB0SFWCVmATZoi8uOnNQQp1h6K0+iRzIHaaRqMdzqs=,1,21.0,20130506.0,20170913.0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
2978,yU9ze49co3nvSnHjsCzWaMVdsWKQItRF0A8RTrn0gak=,1,28.0,20051020.0,20170930.0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
2979,yU3+kFK42n3xRawnHXVn+ArUsdtW1W0pqfvig6yATHg=,1,46.0,20051029.0,20170910.0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
2980,yU/kdlkze1+tp7w3KH3FjI4wcBd2In7Zwzducf9AmzQ=,1,26.0,20120303.0,20170801.0,0,0,0,0,1,...,0,0,0,0,1,1,0,0,0,0
2981,yTvAnd6NYn/i4KpybKnYnqata+zwCkC4K1ZxxgZI8ac=,1,0.0,20160602.0,20170911.0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2982,yTrmt9ZOZLlBLv3xPv3/Qc4J4FH3DCl/NzklnpJabHk=,1,32.0,20110320.0,20180131.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2983,yTYVB6sQV8GdwYZiv790QFR3YCKqCtII1Y79fHOP2go=,1,0.0,20121208.0,20170213.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2984,yTTbZpC4ol60vEKK3SgzkBkX8DY5FF66bttX6ZCjwU8=,1,NaN,NaN,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2985,yTR0fb7kdf8miJBtEyH9YrqHziidIiXuPQVjwgxkO5A=,1,20.0,20041119.0,20170210.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2986,yTP8GXm6j/UAg2rup/PF/Yf/QjyxnjQyEN+m7doXVnA=,1,33.0,20150913.0,20170223.0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
2987,yTNbvwHtS9VVZofw795C4WcBmc/zPmf3qIpTs+wp2Hw=,1,0.0,20130924.0,20170202.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2988,yTJ37byM8Yj2as06hhwnML3+gY//oJAsq6q4Te77KWw=,1,24.0,20140426.0,20180309.0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
2989,yTHNJVeiYaCnIparks6/2LWIr3UQU5Z7FWe0DyeDNIo=,1,0.0,20160312.0,20170213.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2990,yTAQ6/3s+8LhHlMiYY3SIFV7IUY15z5T5pGCgownDnI=,1,27.0,20140810.0,20170205.0,1,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
2991,yTABLMhmFNigAYZrc5qiw/0hJYSRwU10b5gR/KlgNdY=,1,22.0,20131014.0,20180223.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2992,yT7e7scgZT7ija9trSN6cSboIs3J/oG7Xq064DH2YzY=,1,19.0,20130113.0,20170204.0,0,0,0,0,1,...,0,0,0,0,1,1,0,0,0,0
2993,yT7P7Vvj/vpJLddYNONgv2g02BisS2VYx529DobFH/4=,1,24.0,20170116.0,20170926.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2994,yT3kheh9B7sxMgUg5hM6ifA63ODomr+VSG9xZdPrUSI=,1,0.0,20160116.0,20170202.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2995,yT3cjrT/OD6AD66lE5XyczINR1+19JRMf+Y1bmMtJAQ=,1,0.0,20140309.0,20171006.0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2996,yT+oc7x/peMsMk67t+hH80ZqPEJJm53J0UL6WBN+HsY=,1,0.0,20160805.0,20170913.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2997,ySyeABzIhNr+tkB35Jlu9bkPmX0+st1ErwJsB/aN398=,1,0.0,20161112.0,20170221.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2998,ySx42vgjnukPn9jNeHVb+PQSvyRSc4t7UFI8RvwkJ+k=,1,38.0,20161103.0,20170211.0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,0
2999,ySwrLh1f7ifxL9KJjlSNk6fQ8RWebZirK9DHwgCVvGw=,1,25.0,20100804.0,20170205.0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [110]:
members_linear = members_linear.drop('expiration_date',axis=1)

In [144]:
members_linear.bd.value_counts()

 0.0       1241
 27.0        88
 21.0        87
 25.0        86
 22.0        83
 20.0        78
 26.0        68
 29.0        68
 23.0        66
 30.0        63
 28.0        61
 19.0        59
 24.0        56
 32.0        55
 18.0        45
 35.0        35
 34.0        35
 33.0        34
 31.0        31
 16.0        30
 17.0        29
 36.0        27
 38.0        22
 39.0        22
 37.0        20
 44.0        18
 40.0        15
 43.0        14
 47.0        12
 41.0        12
 49.0        11
 42.0        11
 46.0        10
 48.0         8
 50.0         6
 14.0         5
 53.0         5
 52.0         4
 51.0         4
 54.0         3
 15.0         2
 55.0         2
 59.0         2
 62.0         2
 45.0         2
 69.0         2
 117.0        1
 61.0         1
 76.0         1
 12.0         1
 1038.0       1
 56.0         1
 58.0         1
-50.0         1
 68.0         1
 103.0        1
Name: bd, dtype: int64

In [145]:
birth_notreal = members_linear.bd[members_linear.bd < 0]
birth_notreal = birth_notreal.value_counts().sum()
birth_notreal

1

In [146]:
birth_notreal2 = members_linear.bd[members_linear.bd > 80]
birth_notreal2 = birth_notreal2.value_counts().sum()
birth_notreal2

3

In [147]:
birth_notreal0 = members_linear.bd[members_linear.bd == 0]
birth_notreal0 = birth_notreal0.value_counts().sum()
birth_notreal0

1241

In [148]:
bd_mean = members_linear.bd.sum()/(3000 - members_linear.bd.isnull().sum() - birth_notreal - birth_notreal2 - birth_notreal0)

In [149]:
bd_mean

29.03133903133903

In [150]:
members_linear.loc[members_linear.bd == 0, 'bd'] = bd_mean

In [169]:
members_linear.to_csv("members_linear.csv", index=False)

In [199]:
reg_dates = members.registration_init_time.values

In [203]:
reg_dates = members.registration_init_time.values
reg_dates

array([ 20140611.,        nan,  20120306., ...,  20161112.,  20161103.,
        20100804.])

In [204]:

for i in range(0,len(reg_dates)):
    if reg_dates[i] != np.nan:
        reg_dates[i] = (2017 - reg_dates[i] // 10000)

C:\Users\mvnes\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in double_scalars
  after removing the cwd from sys.path.

In [205]:
reg_dates

array([  3.,  nan,   5., ...,   1.,   1.,   7.])

In [206]:
reg_dates.shape

(3000,)

In [207]:
members_linear2 = members_linear

In [209]:
members_linear2['years_using'] = reg_dates

In [212]:
members_linear2 = members_linear2.drop('registration_init_time',axis=1)
members_linear2.head(5)

,msno,is_churn,bd,city_1.0,city_3.0,city_4.0,city_5.0,city_6.0,city_7.0,city_8.0,...,city_21.0,city_22.0,gender_female,gender_male,registered_via_3.0,registered_via_4.0,registered_via_7.0,registered_via_9.0,registered_via_13.0,years_using
0,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,0,48.000000,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,3.0
1,zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=,0,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,0,24.000000,0,0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,5.0
3,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,0,27.000000,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,10.0
4,zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=,0,29.031339,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,6.0

In [213]:
members_linear2.to_csv("members_linear.csv", index=False)

In [221]:
members['years_using'] = reg_dates
members = members.drop('registration_init_time',axis=1)

ValueError: labels ['registration_init_time'] not contained in axis

In [222]:
members.head(5)

,msno,is_churn,city,bd,gender,registered_via,expiration_date,years_using
0,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,0,4.0,48.0,female,9.0,20170924.0,3.0
1,zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=,0,NaN,NaN,NaN,NaN,NaN,NaN
2,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,0,4.0,24.0,male,7.0,20170930.0,5.0
3,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,0,22.0,27.0,female,9.0,20171010.0,10.0
4,zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=,0,1.0,0.0,NaN,7.0,20170919.0,6.0

In [223]:
members.to_csv('members_nans.csv',index=False)

In [231]:
members = pd.read_csv('churn_members_all.csv')

In [232]:
members['years_using'] = reg_dates
members = members.drop('registration_init_time',axis=1)

In [234]:
members = members.drop('expiration_date',axis=1)

In [235]:
members.head(10)

,msno,is_churn,city,bd,gender,registered_via,years_using
0,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,0,4.0,48.0,female,9.0,3.0
1,zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=,0,NaN,NaN,NaN,NaN,NaN
2,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,0,4.0,24.0,male,7.0,5.0
3,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,0,22.0,27.0,female,9.0,10.0
4,zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=,0,1.0,0.0,NaN,7.0,6.0
5,zzx1qgX8R9EmT8PAn4/KyQ6s7PuLYTfR8kUCABiCW9E=,0,6.0,31.0,male,9.0,3.0
6,zzwsW1MnZalh6V5BwYE+V6hFWyKJYOf+rFd+SWVXxp8=,0,1.0,0.0,NaN,7.0,2.0
7,zzwlIVmSuehTevzOi+WkcC7b3+MBYDiE4qybszTyhII=,0,13.0,25.0,male,4.0,1.0
8,zzwimfmJBJ4SrRw3bYXQzE9UrizlSE10yI7dHPvG5xM=,0,18.0,43.0,female,7.0,1.0
9,zzvhQSh5Xs6/9DO+wUTtEbSZRBHjGIpHMOP2kVMrXmk=,0,1.0,0.0,NaN,7.0,1.0

In [236]:
members.to_csv('members_final.csv', index=False)

In [239]:
members = pd.read_csv('members_final.csv')
members.head(10)

,msno,is_churn,city,bd,gender,registered_via,years_using
0,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,0,4.0,48.0,female,9.0,3.0
1,zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=,0,NaN,NaN,NaN,NaN,NaN
2,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,0,4.0,24.0,male,7.0,5.0
3,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,0,22.0,27.0,female,9.0,10.0
4,zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=,0,1.0,0.0,NaN,7.0,6.0
5,zzx1qgX8R9EmT8PAn4/KyQ6s7PuLYTfR8kUCABiCW9E=,0,6.0,31.0,male,9.0,3.0
6,zzwsW1MnZalh6V5BwYE+V6hFWyKJYOf+rFd+SWVXxp8=,0,1.0,0.0,NaN,7.0,2.0
7,zzwlIVmSuehTevzOi+WkcC7b3+MBYDiE4qybszTyhII=,0,13.0,25.0,male,4.0,1.0
8,zzwimfmJBJ4SrRw3bYXQzE9UrizlSE10yI7dHPvG5xM=,0,18.0,43.0,female,7.0,1.0
9,zzvhQSh5Xs6/9DO+wUTtEbSZRBHjGIpHMOP2kVMrXmk=,0,1.0,0.0,NaN,7.0,1.0

In [240]:
members.loc[members.bd == 0, 'bd'] = np.nan

In [241]:
members.head(10)

,msno,is_churn,city,bd,gender,registered_via,years_using
0,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,0,4.0,48.0,female,9.0,3.0
1,zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=,0,NaN,NaN,NaN,NaN,NaN
2,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,0,4.0,24.0,male,7.0,5.0
3,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,0,22.0,27.0,female,9.0,10.0
4,zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=,0,1.0,NaN,NaN,7.0,6.0
5,zzx1qgX8R9EmT8PAn4/KyQ6s7PuLYTfR8kUCABiCW9E=,0,6.0,31.0,male,9.0,3.0
6,zzwsW1MnZalh6V5BwYE+V6hFWyKJYOf+rFd+SWVXxp8=,0,1.0,NaN,NaN,7.0,2.0
7,zzwlIVmSuehTevzOi+WkcC7b3+MBYDiE4qybszTyhII=,0,13.0,25.0,male,4.0,1.0
8,zzwimfmJBJ4SrRw3bYXQzE9UrizlSE10yI7dHPvG5xM=,0,18.0,43.0,female,7.0,1.0
9,zzvhQSh5Xs6/9DO+wUTtEbSZRBHjGIpHMOP2kVMrXmk=,0,1.0,NaN,NaN,7.0,1.0

members

In [242]:
members.to_csv('members_nans.csv',index=False)

In [31]:
members_trees = pd.read_csv('members_final.csv')

In [32]:
members_trees.head(10)

,msno,is_churn,city,bd,gender,registered_via,years_using
0,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,0,4.0,48.0,female,9.0,3.0
1,zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=,0,NaN,NaN,NaN,NaN,NaN
2,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,0,4.0,24.0,male,7.0,5.0
3,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,0,22.0,27.0,female,9.0,10.0
4,zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=,0,1.0,0.0,NaN,7.0,6.0
5,zzx1qgX8R9EmT8PAn4/KyQ6s7PuLYTfR8kUCABiCW9E=,0,6.0,31.0,male,9.0,3.0
6,zzwsW1MnZalh6V5BwYE+V6hFWyKJYOf+rFd+SWVXxp8=,0,1.0,0.0,NaN,7.0,2.0
7,zzwlIVmSuehTevzOi+WkcC7b3+MBYDiE4qybszTyhII=,0,13.0,25.0,male,4.0,1.0
8,zzwimfmJBJ4SrRw3bYXQzE9UrizlSE10yI7dHPvG5xM=,0,18.0,43.0,female,7.0,1.0
9,zzvhQSh5Xs6/9DO+wUTtEbSZRBHjGIpHMOP2kVMrXmk=,0,1.0,0.0,NaN,7.0,1.0

In [33]:
members_trees.loc[members_trees.bd == 0, 'bd'] = -1

In [34]:
members_trees['gender_set'] = pd.Series()

In [35]:
members_trees.head(10)

,msno,is_churn,city,bd,gender,registered_via,years_using,gender_set
0,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,0,4.0,48.0,female,9.0,3.0,NaN
1,zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=,0,NaN,NaN,NaN,NaN,NaN,NaN
2,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,0,4.0,24.0,male,7.0,5.0,NaN
3,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,0,22.0,27.0,female,9.0,10.0,NaN
4,zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=,0,1.0,-1.0,NaN,7.0,6.0,NaN
5,zzx1qgX8R9EmT8PAn4/KyQ6s7PuLYTfR8kUCABiCW9E=,0,6.0,31.0,male,9.0,3.0,NaN
6,zzwsW1MnZalh6V5BwYE+V6hFWyKJYOf+rFd+SWVXxp8=,0,1.0,-1.0,NaN,7.0,2.0,NaN
7,zzwlIVmSuehTevzOi+WkcC7b3+MBYDiE4qybszTyhII=,0,13.0,25.0,male,4.0,1.0,NaN
8,zzwimfmJBJ4SrRw3bYXQzE9UrizlSE10yI7dHPvG5xM=,0,18.0,43.0,female,7.0,1.0,NaN
9,zzvhQSh5Xs6/9DO+wUTtEbSZRBHjGIpHMOP2kVMrXmk=,0,1.0,-1.0,NaN,7.0,1.0,NaN

In [22]:
members_trees[members_trees.index == 3].gender_set[3]

nan

In [36]:
members_trees.loc[members_trees.gender == 'female','gender_set'] = 1

In [39]:
members_trees.loc[members_trees.gender == 'male','gender_set'] = 1

In [52]:
members_trees.gender_set = members_trees.gender_set.fillna(0)

In [53]:
members_trees.head(10)

,msno,is_churn,city,bd,gender,registered_via,years_using,gender_set
0,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,0,4.0,48.0,female,9.0,3.0,1.0
1,zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=,0,NaN,NaN,NaN,NaN,NaN,0.0
2,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,0,4.0,24.0,male,7.0,5.0,1.0
3,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,0,22.0,27.0,female,9.0,10.0,1.0
4,zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=,0,1.0,-1.0,NaN,7.0,6.0,0.0
5,zzx1qgX8R9EmT8PAn4/KyQ6s7PuLYTfR8kUCABiCW9E=,0,6.0,31.0,male,9.0,3.0,1.0
6,zzwsW1MnZalh6V5BwYE+V6hFWyKJYOf+rFd+SWVXxp8=,0,1.0,-1.0,NaN,7.0,2.0,0.0
7,zzwlIVmSuehTevzOi+WkcC7b3+MBYDiE4qybszTyhII=,0,13.0,25.0,male,4.0,1.0,1.0
8,zzwimfmJBJ4SrRw3bYXQzE9UrizlSE10yI7dHPvG5xM=,0,18.0,43.0,female,7.0,1.0,1.0
9,zzvhQSh5Xs6/9DO+wUTtEbSZRBHjGIpHMOP2kVMrXmk=,0,1.0,-1.0,NaN,7.0,1.0,0.0

In [58]:
members_trees.loc[members_trees.bd < 0, 'bd'] = -1

In [59]:
members_trees.loc[members_trees.bd < 80, 'bd'] = -1

In [60]:
members_trees.to_csv('members_trees.csv', index=False)